{% extends 'layouts/default/page.html' %}
{% load static %}

{% block content %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Products</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!--- products --->
	<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				<button type="button" class="collapsible">categories</button>
				<div class="categories">
					<h2>Categories</h2>
					
					<ul class="cate">
						{% for category in category_list %}
						{% if category.parent %}
						{% else %}
						{% if category.children %}
						<li><a href="{% url 'category-page' category.id %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{category.name}}</a></li>
							<ul>
								{% for child in category.children.all %}
								<li><a href="{% url 'category-page' child.id %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{child.name}}</a></li>
								{% if child.children %}
								<ul>
								{% for child_parent in child.children.all %}
								<li><a href="{% url 'category-page' child.id %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{child_parent.name}}</a></li>
								{% endfor %}
								</ul>
								{% endif %}
								{% endfor %}
							</ul>
						{% endif %}
						{% endif %}
						{% endfor %}
					</ul>
				</div>																																												
			</div>
			<div class="col-md-8 products-right">
				<div class="products-right-grid">
					<div class="products-right-grids">
						<div class="sorting">
							<select id="country" onchange="change_country(this.value)" class="frm-field required sect">
								<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Default sorting</option>
								<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by popularity</option> 
								<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by average rating</option>					
								<option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by price</option>								
							</select>
						</div>
						<div class="sorting-left">
							{% if category %}
							<a href="{% url 'add_to_share_category' category.id %}">Share all {{category.name}} Items</a>
							{% endif %}
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				{% for object in object_list %} 
				{% if forloop.counter|divisibleby:3 %}
				<div class="agile_top_brands_grids">
				{% endif %}
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="{% static 'images/offer.png' %}" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="{% url 'product-detail' object.slug %}"><img title=" " alt=" " height="150" width="150" src="{{object.image.url}}"></a>		
												<p>{{object.slug}}</Object></p>
												
												<h4>{{object.discount_price}} <span>{{object.price}}</span></h4>
											</div>
											{% if request.user.userprofile.owner %}
											<a href='{{object.get_add_to_share_url}}'>Add to Share</a>	
											{% endif %}
											

											<div class="snipcart-details top_brand_home_details">
												<form action="{{object.get_add_to_cart_url}}" method="post">
													<fieldset>
														
														<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
														<input type="hidden" name="slug" value="{{object.slug}}">
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="{{object.title}}">
														<input type="hidden" name="amount" value="{{object.discount_price}}">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="INR">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" id ="{{object.id}}" value="Add to cart" class="button" onclick="myFunction({{object.id}})">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
				{% if forloop.counter|divisibleby:3 %}
						<div class="clearfix"> </div>
				</div>
				{% endif %}
				{% endfor %}
			
				<nav class="numbering">
					<ul class="pagination paging">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!--- products --->
{% endblock %}

{% block footer_scripts %}
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="{% static 'js/minicart.min.js' %}"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: {{object.get_add_to_cart_url}}
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}

</script>
<!-- main slider-banner -->
<script src="{% static 'js/skdslider.min.js' %}"></script>
<link href="{% static 'css/skdslider.css' %}" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
</script>	

<script>
	function myFunction(id ) {
	  document.getElementById(id).value = "Go To Cart";
	}
	</script>

<script>
	var coll = document.getElementsByClassName("collapsible");
	  coll[0].addEventListener("click", function() {
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		if (content.style.display === "block") {
		  content.style.display = "none";
		} else {
		  content.style.display = "block";
		}
	  });
	</script>
	
<!-- //main slider-banner --> 
{% endblock %}
</body>
</html>