{% extends 'layouts/default/page.html' %}
{% load static %}


{% block content %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Share_now</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- icons -->
	<div class="w3_wthree_agileits_icons main-grid-border">
		<div class="container">
			{% if order_placed %}
		<h2 class="w3_agile_header">Order_PLaced</h2>
			<div class="grid_3 grid_4 w3_agileits_icons_page">
						<div class="icons">
							
							<section id="new">
								<h1>Order Placed </h1>
								
								<h3 class="page-header page-header icon-subheading"> </h3>							 

								</section>
								{% elif share_link %}
								<h2 class="w3_agile_header">Share_list_now</h2>
								<div class="grid_3 grid_4 w3_agileits_icons_page">
									<div class="icons">

								<section id="new">
									<a href="whatsapp://send?text={{url_for_share}}" data-action="share/whatsapp/share">Share via Whatsapp</a>
									<h3 class="page-header page-header icon-subheading"> {{url_for_share}} </h3>							 
	
									</section>
						</div>
					</div>
					{% endif %}
		</div>	
	</div>
	<!-- //icons -->

{% endblock %}
{% block footer_scripts %}
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
{% endblock %}
</body>
</html>