{% extends 'layouts/default/page.html' %}
{% load static %}

{% block content %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li><a href="{% url 'product-list' %}">Store</a></li>
				<li class="active">{{object.title}}</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
	<div class="products">
		<div class="container">
			<div class="agileinfo_single">
				
				<div class="col-md-4 agileinfo_single_left">
					<img id="example" src="{{object.image.url}}" alt=" " class="img-responsive">
				</div>
				<div class="col-md-8 agileinfo_single_right">
				<h2>{{object.title}}</h2>
					<div class="rating1">
						<span class="starRating">
							<input id="rating5" type="radio" name="rating" value="5">
							<label for="rating5">5</label>
							<input id="rating4" type="radio" name="rating" value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio" name="rating" value="3" checked="">
							<label for="rating3">3</label>
							<input id="rating2" type="radio" name="rating" value="2">
							<label for="rating2">2</label>
							<input id="rating1" type="radio" name="rating" value="1">
							<label for="rating1">1</label>
						</span>
					</div>
					<div class="w3agile_description">
						<h3>Description :</h3>
						<p><h4>{{object.slug}} </h4> <br>
						<h4>Category:</h4>	{{object.category.name}}</p>
						<h4>Saree Length:</h4> 6.30 Meters <br>
						<h4>Color:</h4> ###### <br>


					</div>
					
					<div class="snipcart-item block">
						<div class="snipcart-thumb agileinfo_single_right_snipcart">
							<h4 class="m-sing">{{object.discount_price}}</h4> <span>{{object.price}}</span></h4>
							<a href='{{object.get_add_to_share_url}}'>Add to Share</a>	
						</div>
						<div class="snipcart-details agileinfo_single_right_details">
							<form action="{{object.get_add_to_cart_url}}" method="post">
								<fieldset>
									<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
									<input type="hidden" name="slug" value="{{object.slug}}">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1">
									<input type="hidden" name="business" value=" ">
									<input type="hidden" name="item_name" value="{{object.title}}">
									<input type="hidden" name="amount" value="{{object.discount_price}}">
									<input type="hidden" name="discount_amount" value="1.00">
									<input type="hidden" name="currency_code" value="INR">
									<input type="hidden" name="return" value=" ">
									<input type="hidden" name="cancel_return" value=" ">
									<input type="submit" name="submit" value="Add to cart" class="button">
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--- New --->
<div class="newproducts-w3agile">
	<div class="container">
		<h3>Related Items</h3>
		{% for item in object_list %}
			<div class="agile_top_brands_grids">
				<div class="col-md-3 top_brand_left-1">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="{% static 'images/offer.png' %}" alt=" " class="img-responsive">
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{% url 'product-detail' item.id %}"><img title=" " alt=" " height="250" width="250"  src="{{item.image.url}}"></a>		
											<p>{{item.title}}</p>
											<div class="stars">
												<i class="fa fa-star blue-star" aria-hidden="true"></i>
												<i class="fa fa-star blue-star" aria-hidden="true"></i>
												<i class="fa fa-star blue-star" aria-hidden="true"></i>
												<i class="fa fa-star blue-star" aria-hidden="true"></i>
												<i class="fa fa-star gray-star" aria-hidden="true"></i>
											</div>
											<h4>{{item.discount_price}} <span>{{item.price}}</span></h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
											<form action="{{item.get_add_to_cart_url}}" method="post">
												<fieldset>
													
													<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
													<input type="hidden" name="slug" value="{{item.slug}}">
													<input type="hidden" name="cmd" value="_cart">
													<input type="hidden" name="add" value="1">
													<input type="hidden" name="business" value=" ">
													<input type="hidden" name="item_name" value="{{item.title}}">
													<input type="hidden" name="amount" value="{{item.discount_price}}">
													<input type="hidden" name="discount_amount" value="1.00">
													<input type="hidden" name="currency_code" value="INR">
													<input type="hidden" name="return" value=" ">
													<input type="hidden" name="cancel_return" value=" ">
													<input type="submit" name="submit" id ="{{item.id}}" value="Add to cart" class="button" onclick="myFunction({{item.id}})">
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
					
		
			</div>
			{% endfor %}
			<a href="{% url 'category-page' object.category.id %}"><h4 style="float: center;"></h4><i class="fa fa-arrow-right" aria-hidden="true"></i>{{object.category.name}}</h4></a>
		<div class="clearfix"> </div>
			
	</div>
</div>
<!-- //new -->
<!-- //footer -->


{% endblock %}

{% block footer_scripts %}
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- main slider-banner -->
<script src="js/skdslider.min.js"></script>
<link href="css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
</script>	
{% endblock %}
<!-- //main slider-banner --> 
